<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qlkh.doanplq.qlkh">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".materiallogin.Activity.LoginSuccessActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".materiallogin.Activity.RegisterActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".materiallogin.Activity.MainActivity" />
        <activity android:name=".materiallogin.Activity.GoiCuocActivity" />
        <activity android:name=".materiallogin.Activity.HoaDonDKActivity" />
        <activity android:name=".materiallogin.Activity.HoaDonThangActivity" />
        <activity android:name=".materiallogin.Activity.TaiKhoanActivity" />
        <activity android:name=".materiallogin.Activity.LanTruyCapActivity" />
        <activity android:name=".materiallogin.Activity.TinhTrangActivity" />
        <activity android:name=".materiallogin.Activity.KhuyenMaiActivity" />
        <activity android:name=".materiallogin.Activity.KhachHangActivity" />
        <activity android:name=".materiallogin.Activity.HopDongDKActivity" />
        <activity android:name=".materiallogin.Activity.QuanLyKhachHang" />
        <activity android:name=".materiallogin.Activity.UpdateKhachHang" />
        <activity android:name=".materiallogin.Activity.HopDong" />
        <activity android:name=".materiallogin.Activity.ThamSo" />
        <activity android:name=".materiallogin.Activity.InHoaDonDK" />
        <activity android:name=".materiallogin.Activity.UpdateGoiCuoc" />
        <activity android:name=".materiallogin.Activity.QuanLyGoiCuoc" />
        <activity android:name=".materiallogin.Activity.QuanLyKhuyenMai" />
        <activity android:name=".materiallogin.Activity.DemoKhachHang"></activity>
        <activity android:name=".materiallogin.Activity.QuanLyGoiCuoc" />
        <activity android:name=".materiallogin.Activity.QLTKActivity" />
        <activity android:name=".materiallogin.Activity.QuanLyTinhTrang" />
        <activity android:name=".materiallogin.Activity.UpdateTinhTrang"></activity>
        <activity android:name=".materiallogin.Activity.QLTKActivity" />
        <activity android:name=".materiallogin.Activity.DemoTaiKhoanLoginedActivity"></activity>
    </application>

</manifest>